<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="com.witx">
		<context:include-filter type="assignable" 
			expression="com.witx.beans.ITestInterface"/>
	</context:component-scan>
  
  	<!-- 拦截器 -->
  	<aop:aspectj-autoproxy/>
  	
  	<!-- jdbc属性文件 -->
  	<bean id="propertyConfigurer" 
  		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="locations">
  			<list>
  				<value>classpath:properties/jdbc.properties</value>
  			</list>
  		</property>
  	</bean>
  	<bean id="dataSource" 
  		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  		<property name="driverClassName" value="${jdbc.driverClass}"></property>
  		<property name="url" value="${jdbc.url}"></property>
  		<property name="username" value="${jdbc.username}"></property>
  		<property name="password" value="${jdbc.password}"></property>
  	</bean>
  
</beans>
